.App {
  padding-left: 1em;
}

.App-title {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.tree {
  display: table-row;
}
.node,
.children {
  display: table-cell;
}

.node {
  padding-left: 5px;
}
.label {
  background-color: #CCE;
  padding: 2px;
}
.toggle {
  color: #66A;
}

.children {
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: black;
}

.header {
  width: 100%;
  font-size: larger;
  background-color: #9999CC;
  padding: 5px 0 5px 1em;
  margin-left: -1em;
  margin-bottom: 1em;
}
